.main-wrapper {
	margin-top: 20px;
}

.product-card {
	border: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 10px;
}

.product-card img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.product-details {
	display: flex;
	align-items: center;
}

.review-section {
	padding-left: 20px;
}

.review-buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.review-buttons label, .review-buttons input[type="text"] {
	margin: 0 5px;
}

.review-buttons input[type="radio"] {
	display: none;
}

.review-buttons label {
	padding: 10px 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	cursor: pointer;
}

.review-buttons input[type="radio"]:checked+label {
	background-color: #007bff;
	color: white;
}

.review-buttons input[type="text"] {
	padding: 10px 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	flex-grow: 1;
	max-width: 220px;
}


/*별점추가  */

.rating {
   position: relative;
   background: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: .3em;
   padding: 5px;
   overflow: hidden;
   /* border-radius: 20px;
   box-shadow: 0 0 2px #b3acac; */
}

.rating__result {
   position: absolute;
   top: 0;
   left: 0;
   transform: translateY(-10px) translateX(-5px);
   z-index: -9;
   font: 3em Arial, Helvetica, sans-serif;
   color: #ebebeb8e;
   pointer-events: none;
}

.rating__star {
   font-size: 1.3em;
   cursor: pointer;
   color: #dabd18b2;
   transition: filter linear .3s;
}

.rating__star:hover {
   filter: drop-shadow(1px 1px 4px gold);
}