:root {
--light-blue: #D4F4FA;
--medium-blue: #5CD1E5;
--light-yellow: #FAF4C0;
--medium-yellow: #F7EA6E;
--light-violet: #E8D9FF;
--medium-violet: #BFA0ED;
--violet: #8080ff;
--green: #408080;
--light-pink: #FFF0F5;
--dark-green: #2F4F4F;
--dim-gray: #696969;
--dark-red: #800000;
}
.login-success-title {
    color: #007bff;
    font-weight: bold;
}
/* 한)성공 메세지 */
.button-primary-large-msg-y {
border: 1px solid var(--light-gray);
background-color: #007bff;
color: var(--white);
text-align: center;
border-radius: 999px;
padding: .625rem 2rem;
font-family: Plus Jakarta Sans, sans-serif;
font-size: 1rem;
font-weight: 400;
line-height: 141%;
}

/* 한)실패 메세지 */
.button-primary-large-msg-n {
border: 1px solid var(--light-gray);
background-color: #8B0000;
color: var(--white);
text-align: center;
border-radius: 999px;
padding: .625rem 2rem;
font-family: Plus Jakarta Sans, sans-serif;
font-size: 1rem;
font-weight: 400;
line-height: 141%;
}

/* 한)프로필 관리 변경*/
.tag-a {
border: 1px solid var(--medium-gray);
color: var(--white);
background-color: var(--dim-gray);
border-radius: 999px;
padding: .5rem 1rem;
}

.tag-a:hover {
background-color: var(--dark-green);
color: var(--white);
text-decoration: none;
}

.tag-t {
border: 1px solid var(--medium-gray);
color: var(--white);
background-color: var(--black);
border-radius: 999px;
padding: .5rem 1rem;
}

.tag-t:hover {
background-color: var(--dark-green);
text-decoration: none;
color: var(--white);
}

.tag-b {
border: 1px solid var(--medium-gray);
color: var(--white);
background-color: var(--violet);
border-radius: 999px;
padding: .5rem 1rem;
}

.tag-b:hover {
background-color: var(--green);
color: var(--white);
text-decoration: none;
}

/* 한)profile.jsp 추가*/
._2-column-grid-p {
grid-column-gap: var(--gutters);
grid-row-gap: var(--gutters);
grid-template-rows: auto;
grid-template-columns: 1fr 2fr;
grid-auto-columns: 1fr;
width: 100%;
display: grid;
}

/* 한)프로필 사진 크기 수정*/
#w-node-dbd1f4aa-0c13-168c-7fc5-367d8d676b4b-4f5c4820-p {
grid-area: span 1 / span 10 / span 1 / span 10;
}

#w-node-_1d188613-99eb-7eb0-d878-0bf26f04f386-4f5c4820-p {
grid-area: 1 / 1 / 2 / 5;
}
.padding-section-medium {
    padding-top: 2rem;
    padding-bottom: 0 !important;
}