@charset "UTF-8";
.section-destinations {
  background-color: #ffffff;
}

.section-destinations h2 {
    font-size: 2.5em;
    font-weight: 700;
    color: #333;
    /* text-align: center; */
    margin-bottom: 40px;
    margin-top: 20px;
}

.section-destinations .destination-collection-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.section-destinations .w-dyn-item {
  flex: 1 1 calc(25% - 20px); /* 4 items per row */
  max-width: calc(25% - 20px);
}

.section-destinations .w-button {
    background-color: transparent;
    border: 3px solid #333;
    color: #333;
    padding: 0;
    font-size: 20px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    line-height: 50px;
}

.section-destinations .w-button:hover,
.section-destinations .w-button:focus {
  background-color: #333; /* 호버 시 배경색 어두운 회색 */
  color: #fff; /* 호버 시 텍스트 색상 흰색 */
  transform: translateY(-2px); /* 살짝 위로 이동 */
}

.section-destinations img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Responsive design */


@media (max-width: 768px) {
  .section-destinations .w-dyn-item {
    flex: 1 1 calc(50% - 20px); /* 2 items per row on small screens */
    max-width: calc(50% - 20px);
  }

  .section-destinations h2 {
    font-size: 2em; /* 작은 화면에서 제목 크기 조정 */
  }

  .section-destinations .w-button {
    font-size: 1.7em; /* 작은 화면에서 폰트 사이즈 조정 */
  }
}

@media (max-width: 480px) {
  .section-destinations .w-dyn-item {
    /* flex: 1 1 calc(100% - 20px); 1 item per row on very small screens */
    max-width: calc(30% - 3px);
  }

  .section-destinations h2 {
    font-size: 1.7em; /* 매우 작은 화면에서 제목 크기 조정 */
  }

  .section-destinations .w-button {
    font-size: 1em; /* 매우 작은 화면에서 폰트 사이즈 조정 */
    width: -webkit-fill-available;
  }
}