.festival-info {
    padding: 20px;
    width: 90%;
    margin: auto;
  }
  
  .festival-info h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .search-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-select,
  .search-input,
  .search-button {
    margin-right: 10px;
  }

  .search-select {
    margin-top: 9px;
    height : 35px;
  }
  
  .festival-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    justify-content: center;
  }
  
  .festival-card {
    width: 93%;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  
  .festival-photo {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .festival-name {
    margin-top: 10px;
    font-weight: bold;
  }
  
  #insert-festival-container {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 5vh;
  }
  
  #insert-festival {
    padding: 8px 16px;
    background-color: #5c5c5c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 36px;
  }
  
  #insert-festival:hover {
    background-color: #2c2c2c;
  }

  textarea {
    resize: none;
    width: 92%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px; 
    border: 1px solid #ddd;
    border-radius: 4px; 
  }

  .popup-content input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px; 
    border: 1px solid #ddd;
    border-radius: 4px; 
  }
  
  .popup {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 400px;
    text-align: center;
  }
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .popup .festival-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .update-festival, .delete-festival {
    padding: 8px 16px;
    background-color: #5c5c5c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .update-festival {
    margin-right: 5px;
  }

  .delete-festival {
    margin-left: 5px;
  }
  
  .update-festival:hover, .delete-festival:hover {
    background-color: #2c2c2c;
  }

  @media (max-width: 1200px) {
    .festival-cards {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (max-width: 992px) {
    .festival-cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .festival-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 576px) {
    .festival-cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }