.news-info {
  padding: 20px;
  width: 90%;
  margin: auto;
}

.news-info h1 {
  text-align: center;
  margin-bottom: 20px;
}

.search-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-select {
  width: 20%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-input {
  flex-grow: 2;
  margin: 0 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.news-info .search-button {
  padding: 8px 16px;
  background-color: #5c5c5c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.news-info .search-button:hover {
  background-color: #2c2c2c;
}

.news-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed; 
}

.news-table th,
.news-table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  word-break: break-word; /* 단어를 줄바꿈 */
}

.news-table th {
  background-color: #e2e2e2;
  position: sticky;
  top: 0;
  z-index: 1;
}

.newsnum {
  width: 5%;
}

.newstitle {
  width: 37%;
}

.newsarea {
  width: 8%; 
}

.newslink {
  width: 35%; 
}

.newsdate {
  width: 10%; 
}

.newslink a {
  word-wrap: break-word; /* 긴 링크를 줄바꿈 */
  display: block;
}

.newsdelete {
  width: 5%; 
}



.newsdelete-button {
  width: 100%; /* 버튼이 셀의 전체 너비를 차지하도록 함 */
  padding: 8px 16px;
  background-color: #8c8c8c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box; /* 패딩과 보더를 포함한 크기 계산 */
  overflow: hidden;
}

.newsdelete-button:hover {
  background-color: #5c5c5c;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 5px;
  border: 1px solid #ddd;
  background-color: transparent; 
  cursor: pointer;
  color : black;
}

.pagination button:hover {
  border-color: #999;
}

.pagination button.active {
  font-weight: bold;
  border-color: #333;
}

@media screen and (max-width: 768px) {
  .news-table th, .news-table td {
    font-size: 14px;
  }

  .pagination button {
    padding: 3px 6px;
  }
}