.search_favorite {
    position: fixed;
    width: 281px;
    height: 461px;
    top: 35%;
    justify-content: center; 
    border: 2px solid #1E90FF;
    background-color: white;
    z-index: 101;
    padding: 10px;
}
        
.beforeLogin, .afterLogin {
    overflow: auto;
    height: 78%;
}

.pagination {
    position: fixed;
    width: 100%;
    bottom: 17.7%;
    left: 4%;
    text-align: center;
	z-index: 102;
	
}

.pagination button {
    margin: 0 5px;
}

td {
	padding: 6px;
}

.favorite-list {
	border-collapse: separate;
    border-spacing: 0;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden; 
}