<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.EVStationDAO">
	<select id="getStation"  resultType="EVStationVO">
	SELECT  *
	FROM evc
	limit 800
	</select>
	
	<select id="getStationDataInfo"  resultType="EVStationVO">
	SELECT  *
	FROM evc
	limit 800
	</select>
	
	<select id="getFilteredStation" parameterType="hashmap" resultType="EVchargerVO">
		SELECT*FROM evc_cg
		<if test="evc_area == '전체' and charger_type == '전체' and searchText == ''">
			WHERE 1 = 1
		</if>
		<if test="evc_area != '전체' and charger_type == '전체' and searchText == ''">
			WHERE evc_area = #{evc_area}
		</if>
		<if test="evc_area == '전체' and charger_type != '전체' and searchText == ''">
			WHERE charger_type = #{property_type}
		</if>
		<if test="evc_area == '전체' and charger_type == '전체' and searchText != ''">
			WHERE charger_opsmall like '%${searchText}%'
		</if>
		<if test="evc_area != '전체' and charger_type != '전체' and searchText == ''">
			WHERE evc_area = #{evc_area} AND charger_type =
			#{charger_type}
		</if>
		<if test="evc_area == '전체' and charger_type != '전체' and searchText != ''">
			WHERE charger_type = #{charger_type} AND charger_opsmall like
			'%${searchText}%'
		</if>
		<if test="evc_area != '전체' and charger_type == '전체' and searchText != ''">
			WHERE evc_area = #{evc_area} AND charger_opsmall like
			'%${searchText}%'
		</if>
		<if test="evc_area != '전체' and charger_type != '전체' and searchText != ''">
			WHERE evc_area = #{evc_area} AND charger_type =
			#{charger_type} AND charger_opsmall like '%${searchText}%'
		</if>
		limit 100
	</select>

</mapper>
