<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.EVStationDAO">
	<select id="getStation"  resultType="EVStationVO">
	SELECT  *
	FROM evc
	limit 7000
	</select>
	
	<select id="getFilteredStation" parameterType="hashmap" resultType="EVchargerVO">
		 SELECT DISTINCT
	        e.evc_id 				AS evc_id
	        ,e.evc_area 			AS evc_area
	        ,e.evc_address 			AS evc_address
	        ,e.evc_name 			AS evc_name 
	        ,e.evc_lat 				AS evc_lat 
	        ,e.evc_long 			AS evc_long
	        ,c.charger_opsmall		AS charger_opsmall
	    FROM evc    e
	    JOIN evc_cg c 
	    ON e.evc_id = c.evc_id
		<if test=" charger_type == '전체' and evc_area == '전체' and charger_opbig == '전체' and searchText == '' ">
			WHERE 1 = 1
		</if>
		<if test=" charger_type != '전체' and evc_area == '전체' and charger_opbig == '전체' and searchText == '' ">
			WHERE charger_type = #{property_type}
		</if>
		<if test=" charger_type == '전체' and evc_area != '전체' and charger_opbig == '전체' and searchText == '' ">
			WHERE evc_area = #{evc_area}
		</if>
		<if test=" charger_type == '전체' and evc_area == '전체' and charger_opbig != '전체' and searchText == '' ">
			WHERE charger_opbig = #{charger_opbig}
		</if>
		<if test=" charger_type == '전체' and evc_area == '전체' and charger_opbig == '전체' and searchText != '' ">
			WHERE charger_opsmall like '%${searchText}%'
		</if>
		<if test=" charger_type != '전체' and evc_area != '전체' and charger_opbig == '전체' and searchText == '' ">
			WHERE charger_type = #{charger_type} AND evc_area = #{evc_area}
		</if>
		<if test=" charger_type != '전체' and evc_area == '전체' and charger_opbig != '전체' and searchText != '' ">
			WHERE charger_type = #{charger_type} AND charger_opbig = #{charger_opbig}
		</if>
		<if test=" charger_type != '전체' and evc_area == '전체' and charger_opbig == '전체' and searchText != '' ">
			WHERE charger_type = #{charger_type} AND charger_opsmall like '%${searchText}%'
		</if>
		<if test=" charger_type == '전체' and evc_area != '전체' and charger_opbig != '전체' and searchText == '' ">
			WHERE evc_area = #{evc_area} AND charger_opbig = #{charger_opbig}
		</if>
		<if test=" charger_type == '전체' and evc_area != '전체' and charger_opbig == '전체' and searchText != '' ">
			WHERE evc_area = #{evc_area} AND charger_opsmall like '%${searchText}%'
		</if>
		<if test=" charger_type == '전체' and evc_area == '전체' and charger_opbig != '전체' and searchText != '' ">
			WHERE charger_opbig = #{charger_opbig} AND charger_opsmall like '%${searchText}%'
		</if>
		<if test=" charger_type != '전체' and evc_area != '전체' and charger_opbig != '전체' and searchText == '' ">
			WHERE charger_type = #{charger_type} AND evc_area = #{evc_area} AND charger_opbig = #{charger_opbig}
		</if>
		<if test=" charger_type != '전체' and evc_area != '전체' and charger_opbig == '전체' and searchText != '' ">
			WHERE charger_type = #{charger_type} AND evc_area = #{evc_area} AND charger_opsmall like '%${searchText}%'
		</if>
		<if test=" charger_type != '전체' and evc_area == '전체' and charger_opbig != '전체' and searchText != '' ">
			WHERE charger_type = #{charger_type} AND charger_opbig = #{charger_opbig} AND charger_opsmall like '%${searchText}%'
		</if>
		<if test=" charger_type == '전체' and evc_area != '전체' and charger_opbig != '전체' and searchText != '' ">
			WHERE charger_opbig = #{charger_opbig} AND evc_area = #{evc_area} AND charger_opsmall like '%${searchText}%'
		</if>
		<if test=" charger_type != '전체' and evc_area != '전체' and charger_opbig == '전체' and searchText != '' ">
			WHERE charger_type = #{charger_type} AND evc_area = #{evc_area} AND charger_opbig = #{charger_opbig} AND charger_opsmall like '%${searchText}%'
		</if>
		limit 300
	</select>

	<select id="getStationDataInfo" parameterType="String" resultType="EVchargerVO">
 		SELECT
	        e.evc_id 				AS evc_id
	        ,e.evc_area 			AS evc_area
	        ,e.evc_address 			AS evc_address
	        ,e.evc_name 			AS evc_name 
	        ,e.evc_lat 				AS evc_lat 
	        ,e.evc_long 			AS evc_long
	        ,c.charger_no			AS charger_no
	        ,c.charger_type 		AS charger_type
	        ,c.charger_userlimit 	AS charger_userlimit
	        ,c.charger_facsmall 	AS charger_facsmall
	        ,c.charger_mechine 		AS charger_mechine 
	        ,c.charger_opbig 		AS charger_opbig
	        ,c.charger_opsmall 		AS charger_opsmall
	    FROM evc    e
	    JOIN evc_cg c 
	    ON e.evc_id = c.evc_id
	    WHERE e.evc_id = #{evc_id}
	</select>
	
	
	<insert id="insertEVFav" parameterType="map">
		INSERT INTO evc_fav (evc_id, member_id)	VALUES ( #{evc_id}, #{member_id} )
		ON DUPLICATE KEY UPDATE evc_id=#{evc_id} and member_id=#{member_id}
	</insert>
	
	<delete id="deleteEVFav" parameterType="map">
		Delete From evc_fav Where evc_id=#{evc_id} and member_id=#{member_id}
	</delete>
	
	<select id="selectEVFav" parameterType="String" resultType="EVchargerVO">
		SELECT DISTINCT
	        e.evc_id 		AS evc_id
	        ,e.evc_area 	AS evc_area
	        ,e.evc_address 	AS evc_address
	        ,e.evc_name 	AS evc_name 
	        ,e.evc_lat 		AS evc_lat 
	        ,e.evc_long 	AS evc_long
	    FROM evc_fav f
	    JOIN evc     e
	    ON e.evc_id = f.evc_id
	    WHERE f.member_id = #{member_id}
	</select>
	
	<select id="getUserLocation" parameterType="String" resultType="MemberVO">
		SELECT *
		FROM  member
		WHERE member_id = #{member_id}
	</select>
	
</mapper>
