<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.FavoriteProductDAO">
<!-- 관심상품 등록 -->
	<insert id="insertFavProduct" parameterType="FavoriteProductVO">
		INSERT INTO favorite_product 
		(sale_id, member_id) 
		VALUES
		( #{sale_id}, #{member_id})
	</insert>
	
	<select id="wishCheck" parameterType="FavoriteProductVO" resultType="boolean">
		SELECT COUNT(*) FROM favorite_product
		WHERE sale_id = #{sale_id} AND member_id= #{member_id}
	</select>
	
	<delete id="deleteFavProduct" parameterType="FavoriteProductVO">
		DELETE FROM favorite_product
		WHERE sale_id = #{sale_id} AND member_id = #{member_id}
	</delete>
	
</mapper>