<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.FestivalDAO">

	<select id="getFestivalList" resultType="FestivalVO"
		parameterType="String">
		SELECT *
		FROM Festival
		<if test="area != '전체'">
			Where festival_area = #{area}
		</if>
	</select>

	<!-- 기본값 현재 날짜 -->
	<select id="getFestivalPaging" resultType="FestivalVO"
		parameterType="hashmap">
		SELECT *
		FROM Festival
		WHERE
		<choose>
			<when test="selectDate != null">
				DATE(festival_startdate) &lt;= #{selectDate} AND DATE(festival_enddate) &gt;= #{selectDate}
			</when>
			<otherwise>
				DATE(festival_startdate) &lt;= NOW() AND DATE(festival_enddate) &gt;= NOW()
			</otherwise>
		</choose>
		<if test="area != '전체'">
			and festival_area = #{area}
		</if>
	</select>

	<select id="countItems" resultType="int" parameterType="hashmap">
		SELECT COUNT(*)
		FROM Festival
		WHERE 
		<choose>
			<when test="selectDate != null">
				DATE(festival_startdate) &lt;= #{selectDate} AND DATE(festival_enddate) &gt;= #{selectDate}
			</when>
			<otherwise>
				DATE(festival_startdate) &lt;= NOW() AND DATE(festival_enddate) &gt;= NOW()
			</otherwise>
		</choose>
		<if test="area != '전체'">
			AND festival_area = #{area}
		</if>
	</select>
	<update id="festivalViewCountUpdate" parameterType="integer">
		UPDATE Festival
		SET festival_viewcount = festival_viewcount + 1
		WHERE festival_id = #{festival_id};
	</update>
	<select id="viewCountFestivalId" parameterType="integer" resultType="integer">
		SELECT festival_viewcount FROM festival
		WHERE festival_id = #{festival_id};
	</select>

    <select id="getFestivalById" parameterType="integer" resultType="FestivalVO">
        SELECT * FROM Festival WHERE festival_id = #{festival_id}
    </select>
</mapper>
