<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.FestRevCommentDAO">
    <!-- 축제 리뷰 댓글 삽입 -->
    <insert id="insertComment" parameterType="FestRevCommentVO">
        INSERT INTO fest_rev_comment (frc_regdate, frc_content, fr_id, member_id)
        VALUES (NOW(), #{frc_content}, #{fr_id}, #{member_id})
    </insert>

	<!-- 해당 축제 리뷰의 댓글 목록 가져오기 -->
    <select id="getComments" resultType="java.util.Map" parameterType="hashmap">
        SELECT *
        FROM fest_rev_comment
        WHERE fr_id = #{fr_id}
        ORDER BY frc_regdate ASC
    </select>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteComment" parameterType="FestRevCommentVO">
        DELETE FROM fest_rev_comment
        WHERE frc_id = #{frc_id} AND member_id = #{member_id}
    </delete>

</mapper>
