<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.FestRevImageDAO">

    <!-- 리뷰 이미지 삽입 -->
    <insert id="insertImage" parameterType="FestRevImageVO">
        INSERT INTO fest_rev_image (fr_imgName, fr_imgAlias, fr_imgUrl, fr_Id)
        VALUES (#{fr_imgName}, #{fr_imgAlias}, #{fr_imgUrl}, #{fr_Id})
    </insert>

	<!-- 축제리뷰 id에 해당하는 이미지들 -->
	<select id="getImage" resultType="FestRevImageVO" parameterType="integer">
		SELECT * FROM fest_rev_image WHERE fr_Id = #{fr_Id}
	</select>
	
	<!-- 해당 fr_imageNo에 해당하는 이미지 지우기  -->
	<delete id="deleteImage" parameterType="integer">
		DELETE FROM fest_rev_image
		WHERE fr_imgId = #{fr_imgId}
	</delete>
	
	<!-- 해당 축제 리뷰에 해당하는 모든 이미지 지우기 -->
	<delete id="deleteReviewImages" parameterType="integer">
		DELETE FROM fest_rev_image WHERE fr_Id = #{fr_Id}
	</delete>
</mapper>