<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.ProductImageDAO">

	<insert id="insertImage" parameterType="ProductImageVO">
		INSERT INTO product_image
		(
			productimg_url,
			productimg_name,
			productimg_alias,
			sale_id
		)
		VALUES
		(
			#{productimg_url},
			#{productimg_name},
			#{productimg_alias},
			#{sale_id}
		)
	</insert>
	
	

</mapper>