<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.ProductImageDAO">

	<insert id="insertImage" parameterType="ProductImageVO">
		INSERT INTO product_image
		(
			productimg_url,
			productimg_name,
			productimg_alias,
			sale_id
		)
		VALUES
		(
			#{productimg_url},
			#{productimg_name},
			#{productimg_alias},
			#{sale_id}
		)
	</insert>
	
	<!-- 상품 id에 해당하는 상품상세 -->
	<select id="myProductSaleId" resultType="ProductImageVO" parameterType="integer">
		SELECT * FROM product_image WHERE sale_id = #{sale_id}
	</select>
	
	<!-- productImageno에 해당하는 이미지 지우기  -->
	<delete id="deleteImage" parameterType="integer">
		DELETE FROM product_image WHERE productimg_no = #{productimg_no}
	</delete>
	
	

</mapper>