<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ProductDAO">

	<insert id="insertProduct" parameterType="ProductVO">
	INSERT INTO product_sale
	(
		sale_cate,
		sale_name,
		sale_descript,
		sale_price,
		sale_regdate,
		member_id,
		sale_area
		
	)
	VALUES
	(
		#{sale_cate},
		#{sale_name},
		#{sale_descript},
		#{sale_price},
		now(),
		#{member_id},
		#{sale_area}
		
	)
	</insert>
	
	<select id="productNum" resultType='integer'>
		SELECT sale_id
		FROM product_sale
		ORDER BY sale_id DESC
		limit 1
	</select>
	
	<select id="productList" resultType="java.util.Map" parameterType="String">
	
		SELECT 
    		ps.sale_id,
   		 	ps.sale_cate,
    		ps.sale_name, 
    		ps.sale_status, 
    		ps.sale_price, 
    		MAX(pi.productimg_url) AS productimg_url,
    		MAX(pi.productimg_alias) AS productimg_alias,
    		COUNT(DISTINCT fp.member_id) AS favorite_count
		FROM 
    		product_sale ps
		LEFT OUTER JOIN 
    		product_image pi ON ps.sale_id = pi.sale_id 
		LEFT OUTER JOIN 
    		favorite_product fp ON ps.sale_id = fp.sale_id
    	<if test="area != '전체'">
    	where ps.sale_area = #{area}
    	</if>
		GROUP BY 
    		ps.sale_id, 
    		ps.sale_cate, 
    		ps.sale_name, 
    		ps.sale_status, 
    		ps.sale_price
	
	</select>
	
	<select id="productCateList" resultType="java.util.Map" parameterType="hashmap">
    SELECT 
        ps.sale_id,
        ps.sale_cate,
        ps.sale_name, 
        ps.sale_status, 
        ps.sale_price, 
        MAX(pi.productimg_url) AS productimg_url,
        MAX(pi.productimg_alias) AS productimg_alias,
        COUNT(DISTINCT fp.member_id) AS favorite_count
    FROM 
        product_sale ps
    LEFT OUTER JOIN 
        product_image pi ON ps.sale_id = pi.sale_id 
    LEFT OUTER JOIN 
        favorite_product fp ON ps.sale_id = fp.sale_id
    WHERE 1=1 <!-- 기본 조건, 항상 참 -->
    <if test="area != '전체'">
        AND ps.sale_area = #{area}
    </if>
    <if test="category != null">
        <if test="category == '전자제품'">
            AND ps.sale_cate in ( '디지털' ,'가전제품' )
        </if>
        <if test="category == '생활용품'">
            AND ps.sale_cate in ( '생활/주방용품', '공구/산업용품' , '가구/인테리어' , '식품' )
        </if>
        <if test="category == '도서'">
            AND ps.sale_cate in ( '도서/티켓/문구', '예술/희귀/수집품' , '음반/악기' , '스타굿즈' )
        </if>
        <if test="category == '의류'">
            AND ps.sale_cate in ( '여성의류', '남성의류' , '신발' , '가방/지갑' , '패션 액세서리' , '쥬얼리' , '스포츠/레저' , '시계')
        </if>
        <if test="category == '기타'">
            AND ps.sale_cate in ( '키덜트', '뷰티/미용' , '유아동/출산' , '차량/오토바이' , '반려동물용품' , '기타')
        </if>
    </if>
    GROUP BY 
        ps.sale_id, 
        ps.sale_cate, 
        ps.sale_name, 
        ps.sale_status, 
        ps.sale_price
	</select>

	
	
	
	
	

</mapper>